{% extends 'main.html' %}
{% block content %}

<h2>Welcome to the Online exam Solution System</h2>
<h3 ><b></b>ExamRoom</h3>
<br><br>

<div class="slide animate" id="slide-02">
   <div class="image-rotator">
      <img src="https://assets.goodfirms.co/blog/general/1566798061-exam-online.jpg" alt="apple" >
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQw4TvxARjNxxdYClNQZ0_1qm2BvX2ArAg0HQ&usqp=CAU" alt="bananas" >
      <img src="https://freepngimg.com/thumb/paper_sheet/50192-9-exam-image-hq-image-free-png.png" alt="cherries" >
   </div>
</div>
<br>
<a class="button" style="color:white" href="/enter">Enter</a>
<a class="button" style="color:white" href="https://drive.google.com/drive/folders/12vU55iXoyLL303uziCIYrZeG7uqTaXvQ?usp=sharing" target="_blank">Download App</a>





    {% endblock %}